<div class="grid">
    <mat-card class="row" title="single content projection">
        <app-single-slot>
            <p>Content projection example 1</p>
        </app-single-slot>
    </mat-card>
    <mat-card class="row" title="multi content projection">
        <app-multi-slot>
            <p question>Content projection with CSS selector</p>
            <p>Default content projection</p>
        </app-multi-slot>
    </mat-card>
</div>

<div class="grid">
    <mat-card class="row" title="custom content projection">
        <app-product-dashboard></app-product-dashboard>
    </mat-card>
</div>