<h4>Counter Application</h4>
<h3 style="color: red;">Counter is: <b>{{displayCount}}</b></h3>
<button mat-raised-button color="primary" (click)="onIncrement()">Increment (+)</button>&nbsp;
<button mat-raised-button color="accent" (click)="onDecrement()">Decrement (-)</button>&nbsp;
<button mat-raised-button color="warn" (click)="onReset()">Reset</button>

<mat-card style="width: 50%;">
    <mat-form-field>
        <label>Counter input</label>
        <input matInput [(ngModel)]="customInput">
    </mat-form-field>
    <mat-form-field>
        <label>Action type</label>
        <mat-select [(ngModel)]="actionType">
            <mat-option value="add">Add</mat-option>
            <mat-option value="substract">Substract</mat-option>
        </mat-select>        
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="customValueEdit()">Custom change</button>
</mat-card>