<div class="grid">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Original</th>
                    <th>Pipe format</th>
                    <th>Pipe type</th>
                    <th>Formatted</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PAVAN</td>
                    <td>'lowercase'</td>
                    <td style="color: green;">Built-in</td>
                    <td>{{'PAVAN' | lowercase}}</td>
                </tr>
                <tr>
                    <td>1992</td>
                    <td>'calculateAge</td>
                    <td style="color: red;">Custom</td>
                    <td>{{1992 | calculateAge}}</td>
                </tr>
                <tr>
                    <td>bashEttY</td>
                    <td>'uppercase'</td>
                    <td style="color: green;">Built-in</td>
                    <td>{{'bashEttY' | uppercase}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>'exponentialStrength:10'</td>
                    <td style="color: red;">Custom</td>
                    <td>{{2 | exponentialStrength:10}}</td>
                </tr>
                <tr>
                    <td>pav bas</td>
                    <td>'titlecase'</td>
                    <td style="color: green;">Built-in</td>
                    <td>{{'pav bas' | titlecase}}</td>
                </tr>
                <tr>
                    <td>PavanBasy</td>
                    <td>'slice:1:4'</td>
                    <td style="color: green;">Built-in</td>
                    <td>{{'PavanBashetty' | slice:1:4}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>'toBinary'</td>
                    <td style="color: red;">Custom</td>
                    <td>{{5 | toBinary}}</td>
                </tr>
                <tr>
                    <td>5.678</td>
                    <td>'number:3.1-2'</td>
                    <td style="color: green;">Built-in</td>
                    <td>{{5.678 | number:'3.1-2'}}</td>
                </tr>
                <tr>
                    <td>0.5</td>
                    <td>'percent'</td>
                    <td style="color: green;">Built-in</td>
                    <td>{{0.5 | percent}}</td>
                </tr>
                <tr>
                    <td>0.25</td>
                    <td>'currency'</td>
                    <td style="color: green;">Built-in</td>
                    <td>{{0.25 | currency:'EUR'}}</td>
                </tr>
                <tr>
                    <td>2024-02-13T08:05:35.969Z</td>
                    <td>'date:short'</td>
                    <td style="color: green;">Built-in</td>
                    <td>{{date | date:'short'}}</td>
                </tr>
                <tr>
                    <td>2024-02-13T08:05:35.969Z</td>
                    <td>'date:shortDate'</td>
                    <td style="color: green;">Built-in</td>
                    <td>{{date | date:'shortDate'}}</td>            
                </tr>
                <tr>
                    <td>2024-02-13T08:05:35.969Z</td>
                    <td>'date:shortTime'</td>
                    <td style="color: green;">Built-in</td>
                    <td>{{date | date:'shortTime'}}</td>            
                </tr> 
                       
            </tbody>
        </table>        
    </div>
</div>