<div class="grid">
    <mat-card class="row">
        j
    </mat-card>
    <mat-card class="row">
        <div>
            <h4>Below statement is coming via a State management --- <b>Service</b></h4>
            <p></p>
        </div>
        ---------------------------------------------------------------
        <div>
            <h4>Below statement is coming via a State management --- <b>RxJS Subject</b></h4>
            <p></p>
        </div>
        ---------------------------------------------------------------
        <div>
            <h4>Below statement is coming via a State management --- <b>NgRx store</b></h4>
            <p></p>
        </div>
    </mat-card>
</div>