<div class="grid">
    <mat-card class="row" title="ngComponentOutlet">
        <mat-card>
            <app-dynamic-ad></app-dynamic-ad>
        </mat-card>
    </mat-card>
</div>
<div class="grid">
    <mat-card class="row" title="@Input(), @Output()">
            <div>
                <h2 style="color: red;">Parent comp</h2>
                <p>{{dataFromChild}}</p>
            </div>
            -----------------------------------
            <div>
                <app-child-one [dataFromParent]="dataToChild" (childEvent)="dataFromChild=$event"></app-child-one>
            </div>
    </mat-card>
    <mat-card class="row" title="Binding">
        <div class="grid">
            <div class="row">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="E.g. Goku" [disabled]="disableInput" [(ngModel)]="enteredName" />
                </mat-form-field>
                <p [style.color]="disableInput ? 'red':'green'">Welcome {{enteredName}}</p>
            </div>
            <div class="row">
                <button (click)="disableInput = false" mat-raised-button>Enable input</button>
                
            </div>
        </div>
        <div class="grid">
            <div class="row">            
                <button mat-raised-button color="accent" (click)="authorizePipe()"  [hidden]="toggleAuthBtns">Authorize Pipes</button>
                <button mat-raised-button color="warn" (click)="removeAuthAccess()"  [hidden]="!toggleAuthBtns">Remove auth access</button>
                <p class="success-p" [hidden]="!currentPipeAuthState" style="text-align: center;">Pipe route is now accessible</p>
                <p class="error-p" style="text-align: center;" [hidden]="!removePipeAuthAccess">Pipe route access revoked</p>
            </div>
        </div>
    </mat-card>
</div>
<div class="grid">
    <mat-card class="row" title="Pipes, Custom pipes">
        <nav style="text-align: center;">
            <a routerLink="/basics/pipes" routerLinkActive="active">Pipes</a><br>            
        </nav>
        <router-outlet></router-outlet>
    </mat-card>
    <mat-card class="row" title="state management">
        <div>
            <h4>Below statement is coming via a State management --- <b>Service</b></h4>
            <p><i>{{varSharedDataS}}</i></p><button type="button" mat-raised-button color="primary" (click)="updateDataS()">Change for service</button>
        </div>
        ---------------------------------------------------------------
        <div>
            <h4>Below statement is coming via a State management --- <b>Observable</b></h4>
            <p><i>{{varSharedDataO}}</i></p><button type="button" mat-raised-button color="primary" (click)="updateDataO()">Change for observable</button>
        </div>
        ---------------------------------------------------------------
        <div>
            <h4>Below statement is coming via a State management --- <b>NgRx store</b></h4>
            <p><i>{{varSharedDataN}}</i></p><button type="button" mat-raised-button color="primary" (click)="updateDataN()">change for NgRx</button>
        </div>
    </mat-card>
</div>