<h1>Welcome to Angular revision</h1>
<nav>
  <a routerLink="/basics" routerLinkActive="active">Basics</a>&nbsp;
  <a routerLink="/contentProjection" routerLinkActive="active">Content projection</a>&nbsp;
  <a routerLink="/directives" routerLinkActive="active">Directives</a>&nbsp;
  <a routerLink="/forms" routerLinkActive="active">Forms</a>&nbsp;
  <a routerLink="/rxjs" routerLinkActive="active">RxJS</a>&nbsp;
  <a routerLink="/ngrx" routerLinkActive="active">NgRx</a>&nbsp;
  <a routerLink="/extras" routerLinkActive="active">Extras!</a>
</nav>
<hr>
<router-outlet></router-outlet>